
@font-face{
	font-family: 'font-test';
	src: url('BMHANNA_11yrs_ttf.ttf');
}
body{
	font-family: 'font-test';
	margin: 0;
	scroll-behavior: smooth;
}
.title-pice{
	font-size: 4.5rem;
	margin:-7;
}
.title{
	font-weight: bold;
	font-size: 3.5rem;
	text-align: center;
}
.title-sub{
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
}
.block-bottom{
	width: 20%;
	height: 50%;
	color: white;
}

.views{
	
}
