
@font-face{
	font-family: 'font-test';
	src: url('BMHANNA_11yrs_ttf.ttf');
}
body{
	font-family: 'font-test';
	margin: 0;
	scroll-behavior: smooth;
}

body,
html {
	background-color: #1C1E1F;
	height: 100%;
	width: 100%;
}

pre{
	font-family: 'font-text';
	font-weight: bold;
}


.snow {
	height: 100%;
	position: absolute;
	width: 100%;
}

.title-pice{
	font-size: 4.5rem;
	margin:-10px;
}

.title{
	font-size: 3.5rem;
	text-align: center;
}

.title-sub{
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
}

.block-bottom{
	width: 20%;
	height: 50%;
	color: white;
}

.views{
	height: 100vh;
	color: #fff;
}

::-webkit-scrollbar {
	display: none;
}

.snowman{
	position: relative;
	left: 80vw;
	bottom: 5vh;
}

.snow-ground{
	width: 100vw;
	height: calc(12.52vh);
	background-color: #fff;
	position: relative;
	top: 30.5vh;
}

.snowman-head{
	width: 12vh;
	height: 12vh;
	border: 1px solid #fff;
	border-radius: 100%;
	position: relative;
	background-color: #fff;
	bottom: 18vh;
	left: 0.5vw;
	z-index: 1
}

.snowman-body{
	width: 15vh;
	height: 15vh;
	border: 1px solid #fff;
	border-radius: 100%;
	position: relative;
	background-color: #fff;
	bottom: 20vh;
	z-index: 0;
}

.snowman-eyes{
	width: 2vh;
	height: 2vh;
	background-color: #000;
	border-radius: 100%;
	display: inline-block;
	position: relative;
	top: 3vh;
	left: 3vh;
}

.right{
	margin-left: 1vh;
}

.carrot{
	width: 5vh;
	height: 2vh;
	background-color: orange;
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
	border-top-right-radius: 40%;
	border-bottom-right-radius: 40%;
	position: relative;
	top: 2.5vh;
	left: 1.5vh;
}
.snowman-branch{
	display: inline-block;
	width: 5vh;
	height: 0.5vh;
	background-color: brown;
	position: relative;
	top : 2vh;
}

#left{
	right: 3vh;
	transform: rotate(20deg);
}

#right{
	left: 7vh;
	transform: rotate(-20deg);
}

.moon{
		position: absolute;
		width:200px;
		height:200px;
		background:#ECF0F1;
		border-radius:50%;
		margin-top:-100px;
		margin-left:-100px;
		top: -40px;
		left: 95%;
		overflow:hidden;
		-moz-box-shadow: 0px 0px 30px #fff;
  		-webkit-box-shadow: 0px 0px 30px #fff;
      		box-shadow: 0px 0px 30px #fff;
		z-index:10;
}
.moon:after{
			content:"";
			position:absolute;
			width:100px;
			height:100px;
			background:#BEC3C7;
			top:0px;
			right:0px;
			border-radius:50%;
		}
.moon:before{
			content:"";
			position:absolute;
			width:50px;
			height:50px;
			background:#BEC3C7;
			top:100px;
			left:50px;
			border-radius:50%;
}